.poster{
  width: 600PX; 
  height: 850px;
  background-color: rgb(23, 65, 111);
}
.event-type{
    padding-top: 1%;
    margin-left: 5%;
    font-size: 25px;
    color: #f2c00c;
}

.event-name{
    font-family: "map-roman-normal", serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -150px;
    padding: 20px;
    font-size: 100px;
    text-align: center;
    color:#f2c00c;
    text-shadow: -3px 3px  rgba(7, 119, 255, .5);

}

.location-time{
    margin-top: -120px;
    color: #f2c00c;
    margin-left: 50px;
    padding-bottom: 5px;
}

.register{
    margin-top: -113px;
    margin-left: 55%;
    color: #f2c00c;
    width: 250px;
}

a:link{
    color: #f2c00c;
}

.information{
    margin-top: 50px;
    margin-left: 50px;
    font-size: 15px;
    width: 500px;
    color:#f2c00c;
    padding-bottom: 10px;
}

.presented{
    color:#f2c00c;
    Margin-left: 40%;
}