.container{
    width: 500px;
    height: 500px;
    border: solid;
    border-color: black;
    position: absolute;
    overflow: hidden;
}

.background{
    width: 500px;
    height:500px;
    background: bisque;
    position: absolute;
}


.oval_1{
    width: 400px;
    height: 275px;
    background: rgb(128, 60, 0);
    border-radius: 300px / 200px;
    top:-10px;
    left:-200px;
    position: absolute;
}

.oval_2{
    width: 400px;
    height: 275px;
    background: rgb(128, 60, 0);
    border-radius: 300px / 200px;
    top: 250px;
    left: -200px;
    position: absolute;
}

.rectangle_1{
    background: rgb(128, 60, 0);
    left: 250px;
    width: 250px;
    height: 80px;
    position: absolute;
}

.rectangle_2{
    background: rgb(128, 60, 0);
    left: 250px;
    width: 200px;
    height: 420px;
    top: 80px;
    position: absolute;
}

.triangle_1{
    width: 0;
    height: 0;
    border-top: 115px solid transparent;
    border-left: 100px solid bisque;
    border-bottom: 200px solid transparent;
    top:60px;
    left:250px;
    position: absolute;
}

.triangle_2{
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 140px solid bisque;
    top: 375px;
    left: 250px;
    position: absolute;
}

.triangle_3{
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 50px solid transparent;
    border-top: 60px solid bisque;
    left: 250px;
   position: absolute;
}

.triangle_4{
   width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 100px solid bisque;
    border-bottom: 220px solid transparent;
    top: 30px;
    left:410px;
   position: absolute;
}

.triangle_5{
    width: 0;
    height: 0;
    border-top: 170px solid transparent;
    border-right: 60px solid bisque;
    border-bottom: 200px solid transparent;
    top: 170px;
    left:390px;
   position: absolute;
}