/* h1{
  font-size: 100px; 
  font-weight: normal; 
  color: rgb(255, 25, 121);
  font-family: cursive;
}
h3{
 color:rgb(60, 89, 255)
}
p {
    color:rgb(98, 10, 165);
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-color: rgb(188, 255, 255);
} */

.q_and_a {
    margin-left: 200px;
}

.question {
    font-weight: bold;
    letter-spacing:0.01em;
    color:darkcyan;
    font-size: 30px;
    margin-left: -100px;
    width: 400px;
}

.answer {
    font-weight: normal;
    text-indent: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 500px;
}

.title {
    font-size: 55px;
    color: rgb(0, 108, 112);
    text-transform: uppercase;
}

body{
    font-size: 20px;
    background-color: aliceblue;
}

